<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7e4b430b7a.js" crossorigin="anonymous"></script>
    <link href="/css/estilos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercadoliebre</title>
</head>
<header>
    <div class="flexLogo">
        <img class="img" src="/images/logo-mercado-liebre.svg" alt="logo Mercadoliebre">
        <form>
            <input style="width: 80%;" type="text" placeholder="Buscar productos, marcas y mas..."required>
            <button type="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p class="avisoCompra; p"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito.</p>
    </div>
    
    <nav>
        <ul>
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </ul>
        <ul>
            <a href="#">Crea tu cuenta<i class="fa-regular fa-id-card"></i></a>
            <a href="#">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
        </ul>
    </nav>
    <div class="burger-menu">
        <button style="font-size: 2em;" class="menu"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>

<body>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <div class="div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p style="color: #27AE60;" class="descuentos">40% off</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>

                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macBook">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p style="color:#27AE60;" class="descuentos">20% off</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p style="color: #27AE60;" class="descuentos">10% off</p>
                    <h3 class="descripcion">Samsun Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen SmartTv">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p style="color: #27AE60;" class="descuentos">5% off</p>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>

        <section>
            <h2>ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p style="color: #27AE60;" class="descuentos">40% off</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
            </article>
            </div>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macBook">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p style="color: #27AE60;" class="descuentos">20% off</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p style="color: #27AE60;" class="descuentos">10% off</p>
                    <h3 class="descripcion">Samsun Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen SmartTv">
                <div class="linea, div">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p style="color: #27AE60;" class="descuentos">5% off</p>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>

        </section>
    </main>
</body>
<footer>
    <div><i class="icono fa-solid fa-credit-card"></i></div>
    <h3>Paga con tarjeta o en efectivo</h3>
    <p class="cuerpo">Con Mercado Liebsh, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <div><i class="icono fa-solid fa-gift"></i></div>
    <h3>Envío gratis desde $2.500</h3>
    <p class="cuerpo">Solo por esegistrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <div><i class="icono fa-solid fa-user-shield"></i></div>
    <h3>Seguridad de principio a fin.</h3>
    <p class="cuerpo">¿No te gusta? ¡velo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>

</footer>

</html>